<div style="background: #f0f0f0; height: 100%">
  <div class="container">
    <main>
      <div class="text-rectangle">
        <h2>Search</h2>
      </div>
      <mat-card>
        <mat-card class="search-table mat-elevation-z2">
          <app-tooltip-button></app-tooltip-button>
          <mat-card-content>
            <div class="search-container mat-elevation-z0">
              <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="attribute">
                  <mat-header-cell *matHeaderCellDef>Attribute</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <app-attribute-cell [content]="element.attrName" [attrType]="element.attrType" [ID]="element.attrID"></app-attribute-cell>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="conditions">
                  <mat-header-cell *matHeaderCellDef>Conditions</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.rowType === 'addable'">
                      <app-row-cond-addable [rowAttrID]="element.attrID" [rowAttrName]="element.attrName" [rowAttrType]="element.attrType" [rowElements]="element" [rowType]="element.rowType" [resetEvent]="triggerReset" [searchEvent]="triggerSearch" (searchResponse)="collectRowElements($event)"></app-row-cond-addable>
                    </ng-container>
                    <ng-container *ngIf="element.rowType !== 'addable'">
                      <app-row-cond-nonaddable [rowAttrID]="element.attrID" [rowElements]="element" [rowType]="element.rowType" [rowAttrType]="element.attrType" [resetEvent]="triggerReset" [searchEvent]="triggerSearch" [initialSelections]="element.initialSelections" (searchResponse)="collectRowElements($event)"></app-row-cond-nonaddable>
                    </ng-container>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
              </mat-table>
              <div class="buttonRow">
                <app-button [label]="buttonLabelReset" (buttonClickedEvent)="rsEvent($event)"></app-button>
                <app-button [label]="buttonLabelSearch" (buttonClickedEvent)="rsEvent($event)"></app-button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card>
    </main>
  </div>
</div>
