<div style="background: #f0f0f0; height: 100%">
  <div class="container" *ngIf="update">
    <main>
      <section>
        <div class="text-rectangle">
          <h2>ONQUADRO</h2>
        </div>
      </section>
      <br />
      <mat-card>
        <mat-card-content>
          <p align="justify"><b>ONQUADRO</b> database collects tetrads, quadruplexes, and G4-helices found in PDB-deposited structures of nucleic acids. It stores their sequences, secondary and tertiary structures, and motif-specific description including planarity, rise and twist parameters, ONZ classification, Webba da Silva geometric formalism, dot-bracket encoding, arc diagrams, etc. Graphical 2D and 3D views complement their characteristics.</p>
        </mat-card-content>
      </mat-card>
      <br />
      <mat-card>
        <mat-card-content>
          <section>
            <p class="center">Click on one of the options below to see the list of entries.</p>
            <div class="row">
              <div class="column">
                <a href="/tetrads"><img class="picture" src="home/tetrad-trim.png" title="Click to see the list of tetrads" /></a>
                <a href="/tetrads">
                  <h3>Tetrads</h3>
                </a>
              </div>

              <div class="column">
                <a href="/quadruplexes"><img class="picture" src="home/quadruplex-trim.png" title="Click to see the list of quadruplexes" /></a>
                <a href="/quadruplexes">
                  <h3>Quadruplexes</h3>
                </a>
              </div>

              <div class="column">
                <a href="/helices"><img class="picture" src="home/1eeg-trim.png" title="Click to see the list of helices" /></a>
                <a href="/helices">
                  <h3>G4Helices</h3>
                </a>
              </div>

              <div class="column">
                <a href="/structures"><img class="picture" src="home/structure.gif" title="Click to see the list of structures" /></a>
                <a href="/structures">
                  <h3>Structures</h3>
                </a>
              </div>
            </div>
          </section>
        </mat-card-content>
      </mat-card>
      <br />
      <mat-card>
        <mat-card-content>
          <p style="text-align: left">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
            </svg>
            Database is updated every <b>Thursday</b>
          </p>
          <div class="row">
            <div class="column2" style="margin-top: 50px">
              <h5>Recent update: {{ update.recent }}</h5>
              <h5>Latest data arrived: {{ update.pdbRelease }}</h5>
              <p>
                <b>+{{ update.addedTetradCount }}</b> Tetrads
              </p>
              <p>
                <b>+{{ update.addedQuadruplexCount }}</b> Quadruplexes
              </p>
              <p>
                <b>+{{ update.addedHelixCount }}</b> Helices
              </p>
              <p>
                <b>+{{ update.addedStructureCount }}</b> Structures
              </p>
            </div>
            <div class="column2">
              <div style="display: block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="colors" [chartType]="barChartType"></canvas>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <br />
      <mat-card>
        <mat-card-content>
          <p class="center">Enter your e-mail address and subscribe to our newsletter to get an email when something new will be added to ONQUADRO!</p>
          <body style="text-align: center">
            <form class="form-inline" #form="ngForm" (ngSubmit)="onSubmit(form.value)">
              <input type="email" name="email" ngModel placeholder="youremail@example.com" #emailWithPattern="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
              <button type="submit" [disabled]="form.invalid">Submit</button>
              <div>
                <p *ngIf="emailWithPattern.errors?.pattern || error_state">
                  Your e-mail address is wrong!
                  {{ wrong_email() }}
                </p>
                <p *ngIf="email_added && !emailWithPattern.errors?.pattern">You are a new subscriber!</p>
              </div>
            </form>
          </body>
        </mat-card-content>
      </mat-card>
      <br />
    </main>
  </div>
</div>
