<div style="background: #f0f0f0; height: 100%">
  <div class="container" *ngIf="data && data.quadruplexesInTheSamePdb && tetrads">
    <main>
      <div class="description">
        <div class="text-rectangle">
          <h2>Quadruplex description</h2>
        </div>
        <br />
        <mat-card>
          <mat-card-content>
            <!-- <svg [innerHTML]="svg" id="pic"></svg> -->
            <div class="row">
              <div class="col-lg-10 col-sm-6">
                <h5>
                  <b>Quadruplex ID: {{ data.id }}</b>
                </h5>
                <p>{{ data.title }}</p>
              </div>
              <div class="col-lg-2 col-sm-6 saveDataButton">
                <a class="mat-button" (click)="downloadZip()">Save data</a>
                <!-- <a class="mat-button" (click) =saveImage()>save</a> -->
              </div>
            </div>

            <div class="table">
              <table class="table" style="border: 1px solid black">
                <thead>
                  <tr>
                    <th class="nineColumnsStyle" style="text-align: center; vertical-align: middle">PDB ID</th>
                    <th class="nineColumnsStyle" style="text-align: center; vertical-align: middle">Assembly ID</th>
                    <th class="nineColumnsStyle" style="text-align: center; vertical-align: middle">Molecule</th>
                    <th class="nineColumnsStyle" style="text-align: center; vertical-align: middle">Experimental method</th>
                    <th class="nineColumnsStyle" style="text-align: center; vertical-align: middle"><a matTooltip="See statistics" [routerLink]="['/statistics']" [queryParams]="{ filter: 'topologyBaseTableThere', page: 1 }">Type (by no. of strands)</a></th>
                    <th class="nineColumnsStyle" style="text-align: center; vertical-align: middle"><a matTooltip="See statistics" [routerLink]="['/statistics']" [queryParams]="{ filter: 'topologyBaseTableTwo', page: 1 }">No. of tetrads</a></th>
                    <th class="nineColumnsStyle" style="text-align: center; vertical-align: middle"><a matTooltip="See statistics" [routerLink]="['/statistics']" [queryParams]="{ filter: 'ONZMCoverage', page: 1 }">ONZM class</a></th>
                    <th class="nineColumnsStyle" style="text-align: center; vertical-align: middle"><a matTooltip="See statistics" [routerLink]="['/statistics']" [queryParams]="{ filter: 'topologyBaseTableOne', page: 1 }">Loop topology</a></th>
                    <th class="nineColumnsStyle" style="text-align: center; vertical-align: middle"><a matTooltip="See statistics" [routerLink]="['/statistics']" [queryParams]="{ filter: 'SilvaCoverage', page: 1 }">Tetrad combination</a></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="nineColumnsStyle" style="text-align: center; vertical-align: middle">
                      <a class="hasTooltip" target="_blank" rel="noopener noreferrer" href="https://www.rcsb.org/structure/{{ data.pdbIdentifier }}"
                        >{{ data.pdbIdentifier }}<span><img src="static/pymol/{{ data.pdb_public_id }}.png" width="200" height="150" alt="" /></span>
                      </a>
                    </td>
                    <td class="nineColumnsStyle" style="text-align: center; vertical-align: middle">{{ data.assemblyId }}</td>
                    <td class="nineColumnsStyle" style="text-align: center; vertical-align: middle">{{ data.molecule }}</td>
                    <td class="nineColumnsStyle" style="text-align: center; vertical-align: middle">{{ data.experiment }}</td>
                    <td class="nineColumnsStyle" style="text-align: center; vertical-align: middle">{{ data.typeOfStrands }}</td>
                    <td class="nineColumnsStyle" style="text-align: center; vertical-align: middle">{{ data.numberOfTetrads }}</td>
                    <td class="nineColumnsStyle" style="text-align: center; vertical-align: middle">{{ data.onzmClass }}</td>
                    <td class="nineColumnsStyle" style="text-align: center; vertical-align: middle">{{ data.loopTopology }}</td>
                    <td class="nineColumnsStyle" style="text-align: center; vertical-align: middle">{{ data.tetradCombination }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>

        <br />

        <mat-card>
          <mat-card-content>
            <div>
              <h5>2D structure (dot-bracket):</h5>
              <p class="dotbracket fixed-sequence" [style.--seq-chars]="sequenceLineLength" [innerText]="formatFixedWidth(data.dot_bracket)"></p>
            </div>

            <div style="margin-top: 30px">
              <div class="row">
                <div class="column">
                  <button (click)="show2dStructure('varna')" title="Click to see 2D structure">
                    <div class="text">2D structure (classic diagram)</div>
                    <figure><img src="static/varna/{{ data.public_id }}.svg" width="160px" height="160px" alt="varna" /></figure>
                  </button>
                </div>
                <div class="column">
                  <button (click)="show2dStructure('rchie')" title="Click to see 2D structure">
                    <div class="text">2D structure (arc diagram)</div>
                    <figure><img src="static/rchie/{{ data.public_id }}.svg" width="160px" height="150px" alt="r-chie" /></figure>
                  </button>
                </div>
                <div class="column">
                  <button (click)="show2dStructure('layers')" title="Click to see 3D structure">
                    <div class="text">2.5D structure (layer diagram)</div>
                    <figure><img src="static/layers/{{ data.public_id }}.svg" width="180px" height="150px" alt="layers" /></figure>
                  </button>
                </div>
                <div class="column">
                  <button (click)="show3dStructure()" title="Click to see 3D structure">
                    <div class="text">3D structure (all-atom/surface model)</div>
                    <figure><img src="static/pymol/{{ data.public_id }}.png" width="180px" height="130px" alt="litemol" /></figure>
                  </button>
                </div>
              </div>
            </div>
            <br />
            <p style="color: darkgray">Click on the picture to see more details!</p>
          </mat-card-content>
        </mat-card>

        <br />
        <mat-card>
          <mat-card-content>
            <h5>Tetrads in {{ data.id }}:</h5>
            <div class="table">
              <table class="table" style="border: 1px solid black">
                <thead>
                  <tr>
                    <th class="fourColumnsStyle" style="text-align: center; vertical-align: middle">Tetrad ID</th>
                    <th class="fourColumnsStyle" style="text-align: center; vertical-align: middle">Sequence</th>
                    <th class="fourColumnsStyle" style="text-align: center; vertical-align: middle">ONZ Class</th>
                    <th class="fourColumnsStyle" style="text-align: center; vertical-align: middle">Planarity [Å]</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let t of tetrads">
                    <td class="fourColumnsStyle" style="text-align: center; vertical-align: middle">
                      <a class="hasTooltip" [routerLink]="['/tetrad', t.id.slice(1)]">
                        {{ t.id }} <span> <img src="static/pymol/{{ t.public_id }}.png" width="100" height="100" alt="" /> </span>
                      </a>
                    </td>
                    <td class="fourColumnsStyle" style="text-align: center; vertical-align: middle">{{ t.sequence }}</td>
                    <td class="fourColumnsStyle" style="text-align: center; vertical-align: middle">{{ t.onzClass }}</td>
                    <td class="fourColumnsStyle" style="text-align: center; vertical-align: middle">{{ setTwoNumberDecimal(t.planarity) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
        <br />
        <mat-card>
          <mat-card-content>
            <h5>Tetrad pairs in {{ data.id }}:</h5>
            <div class="table">
              <table class="table" style="border: 1px solid black">
                <thead>
                  <tr>
                    <th class="fourColumnsStyle" style="text-align: center; vertical-align: middle">Tetrad pairs</th>
                    <th class="fourColumnsStyle" style="text-align: center; vertical-align: middle"><a matTooltip="See statistics" [routerLink]="['/statistics']" [queryParams]="{ filter: 'TwistRise', page: 1 }">Twist [°]</a></th>
                    <th class="fourColumnsStyle" style="text-align: center; vertical-align: middle"><a matTooltip="See statistics" [routerLink]="['/statistics']" [queryParams]="{ filter: 'TwistRise', page: 1 }">Rise [Å]</a></th>
                    <th class="fourColumnsStyle" style="text-align: center; vertical-align: middle">Strand direction</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let t of tetradsPairsTable">
                    <td class="fourColumnsStyle" style="text-align: center; vertical-align: middle" *ngIf="t.TetradPairId.slice(1) != 0">
                      <a class="hasTooltip" [routerLink]="['/tetrad', t.TetradId.slice(1)]">
                        {{ t.TetradId }} <span> <img src="static/pymol/{{ t.TetradPublicId }}.png" width="100" height="100" alt="" /> </span>
                      </a>
                      -
                      <a class="hasTooltip" [routerLink]="['/tetrad', t.TetradPairId.slice(1)]">
                        {{ t.TetradPairId }} <span> <img src="static/pymol/{{ t.TetradPairPublicId }}.png" width="100" height="100" alt="" /> </span>
                      </a>
                    </td>
                    <td class="fourColumnsStyle" style="text-align: center; vertical-align: middle" *ngIf="t.TetradPairId.slice(1) != 0">{{ t.twist | number: "1.0-2" }}</td>
                    <td class="fourColumnsStyle" style="text-align: center; vertical-align: middle" *ngIf="t.TetradPairId.slice(1) != 0">{{ t.rise | number: "1.0-2" }}</td>
                    <td class="fourColumnsStyle" style="text-align: center; vertical-align: middle" *ngIf="t.TetradPairId.slice(1) != 0">{{ t.direction }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>

        <br *ngIf="quadruplexLoops.length != 0" />
        <mat-card *ngIf="quadruplexLoops.length != 0">
          <mat-card-content>
            <h5>Loops in {{ data.id }}:</h5>
            <div class="table">
              <table class="table" style="border: 1px solid black">
                <thead>
                  <tr>
                    <th class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">Loop ID</th>
                    <th class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">Short sequence</th>
                    <th class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">Full sequence</th>
                    <th class="fiveColumnsStyle" style="text-align: center; vertical-align: middle"><a matTooltip="See statistics" [routerLink]="['/statistics']" [queryParams]="{ filter: 'LoopLength', page: 1 }">Loop length</a></th>
                    <th class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">Loop type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let l of quadruplexLoops">
                    <td class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">{{ l.id }}</td>
                    <td class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">{{ l.short_sequence }}</td>
                    <td class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">{{ l.full_sequence }}</td>
                    <td class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">{{ l.loop_length }}</td>
                    <td class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">{{ l.loop_type }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>

        <br />
        <mat-card>
          <mat-card-content>
            <h5>Chi angle value and type in each nucleotide included within {{ data.id }}:</h5>
            <div class="table">
              <table class="table" style="border: 1px solid black">
                <thead>
                  <tr>
                    <th class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">Tetrad ID</th>
                    <th class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">Nucleotide 1</th>
                    <th class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">Nucleotide 2</th>
                    <th class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">Nucleotide 3</th>
                    <th class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">Nucleotide 4</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let n of nucleotideChiValues">
                    <td class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">
                      <a class="hasTooltip" [routerLink]="['/tetrad', n.tetrad_id.slice(1)]"
                        >{{ n.tetrad_id }}
                        <span> <img src="static/pymol/{{ n.tetrad_public_id }}.png" width="100" height="100" alt="" /> </span>
                      </a>
                    </td>
                    <td class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">{{ n.n1_chi | number: "1.0-2" }}° / {{ n.n1_glycosidic_bond }}</td>
                    <td class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">{{ n.n2_chi | number: "1.0-2" }}° / {{ n.n2_glycosidic_bond }}</td>
                    <td class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">{{ n.n3_chi | number: "1.0-2" }}° / {{ n.n3_glycosidic_bond }}</td>
                    <td class="fiveColumnsStyle" style="text-align: center; vertical-align: middle">{{ n.n4_chi | number: "1.0-2" }}° / {{ n.n4_glycosidic_bond }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>

        <br *ngIf="ions.length != 0" />
        <mat-card *ngIf="ions.length != 0">
          <mat-card-content>
            <div>
              <h5>Ions in {{ data.id }}:</h5>
            </div>
            <table class="table" style="border: 1px solid black">
              <thead>
                <tr>
                  <th style="text-align: center; vertical-align: middle">Ion</th>
                  <th style="text-align: center; vertical-align: middle">Charge</th>
                  <th style="text-align: center; vertical-align: middle">Count</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let l of ions">
                  <td style="text-align: center; vertical-align: middle">{{ l.ion }}</td>
                  <td style="text-align: center; vertical-align: middle">{{ l.ion_charge }}</td>
                  <td style="text-align: center; vertical-align: middle">{{ l.count }}</td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>

        <br />
        <mat-card>
          <mat-card-content>
            <div class="lists">
              <div class="list">
                <h5>Structure tree:</h5>
                <div *ngIf="!structureTree">-</div>
                <div *ngIf="structureTree" class="structure-tree">
                  <div class="tree-header">
                    {{ structureTree.pdbId }} (assembly {{ structureTree.assemblyId }})
                  </div>
                  <div *ngFor="let quad of structureTree.quadruplexes" class="tree-node">
                    <div class="tree-quad" [class.current]="quad.isCurrent">
                      <a class="hasTooltip" [routerLink]="['/quadruplex', quad.id]">
                        Q{{ quad.id }}
                        <span *ngIf="quad.public_id"><img src="static/pymol/{{ quad.public_id }}.png" width="160" height="120" alt="" /></span>
                      </a>
                      <span *ngIf="quad.isCurrent">(current)</span>
                    </div>
                    <div class="tree-tetrads">
                      <span *ngIf="quad.tetrads.length == 0">No tetrads listed</span>
                      <a *ngFor="let t of quad.tetrads" class="hasTooltip" [routerLink]="['/tetrad', t.id]">
                        T{{ t.id }}
                        <span *ngIf="t.public_id"><img src="static/pymol/{{ t.public_id }}.png" width="100" height="100" alt="" /></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <br />
      </div>
    </main>
  </div>
</div>
