<div style="background: #f0f0f0; height: 100%">
  <div class="container">
    <main>
      <div class="mat-elevation-z8 table">
        <div class="text-rectangle">
          <h2>List of G4Helices: {{ filteredDataLength }} items</h2>
          <div class="statictext">
            <span>Search the table:</span>
          </div>

          <mat-form-field appearance="fill">
            <mat-select value="id" [(value)]="defaultDisplayedColumn" (selectionChange)="changeFilterPredicate($event)">
              <mat-option *ngFor="let column of columnNames; index as i" [value]="displayedColumns[i]">
                {{ column }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="inputtext">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event)" placeholder="Enter any string of characters" [(ngModel)]="value" />
              <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value = ''; refreshTable('')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <a class="mat-button" [hidden]="areButtonsHidden" csvLink [data]="csvData" [filename]="'g4helices.csv'">Save table</a>
          <a class="mat-button" [hidden]="areButtonsHidden" [class.disabled]="selection.selected.length <= 0" csvLink [data]="selection.selected" [filename]="'g4helices.csv'">Save selected rows</a>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
          <!-- Id Column a [routerLink]="['/helix', row.id]"-->
          <div class="col-sm-8">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header="id"> G4Helix ID<sup matTooltip="Click ID to see helix description">&#9432;</sup> </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="mobile-label">ID:</span>
                <a class="hasTooltip" [routerLink]="['/helices', row.id]">
                  {{ row.helix_id }} <span> <img src="static/pymol/{{ row.public_id }}.png" width="200" height="150" alt="" /> </span>
                </a>
              </mat-cell>
            </ng-container>
            <!-- PDB ID Column -->
            <ng-container matColumnDef="pdbId">
              <mat-header-cell *matHeaderCellDef mat-sort-header="pdbId"> PDB ID<sup matTooltip="Click ID to visit PDB record">&#9432;</sup> </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="mobile-label">Pdb ID</span>
                <a class="hasTooltip" target="_blank" rel="noopener noreferrer" href="https://www.rcsb.org/structure/{{ row.pdbId }}">
                  {{ row.pdbId }} <span> <img src="static/pymol/{{ row.pdb_public_id }}.png" width="200" height="150" alt="" /> </span>
                </a>
              </mat-cell>
            </ng-container>
            <!-- PDB deposition  Column -->
            <ng-container matColumnDef="pdbDeposition">
              <mat-header-cell *matHeaderCellDef mat-sort-header="pdbDeposition">PDB Deposition</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.pdbDeposition }}
              </mat-cell>
            </ng-container>
            <!-- Assembly ID Column -->
            <ng-container matColumnDef="assemblyId">
              <mat-header-cell *matHeaderCellDef mat-sort-header="assemblyId">Assembly ID</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="mobile-label">Assembly ID</span>
                {{ row.assemblyId }}
              </mat-cell>
            </ng-container>
            <!-- Molecule Column -->
            <ng-container matColumnDef="molecule">
              <mat-header-cell *matHeaderCellDef mat-sort-header="molecule">Molecule</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="mobile-label">Molecule</span>
                {{ row.molecule }}
              </mat-cell>
            </ng-container>
            <!-- Experimental method Column -->
            <ng-container matColumnDef="experiment">
              <mat-header-cell *matHeaderCellDef mat-sort-header="experiment">Experimental method</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="mobile-label">Experimental method</span>
                {{ row.experiment }}
              </mat-cell>
            </ng-container>
            <!-- Sequence Column -->
            <ng-container matColumnDef="sequence">
              <mat-header-cell *matHeaderCellDef mat-sort-header="sequence">Sequence of tetrads</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="mobile-label">Sequence of tetrads</span>
                {{ row.sequence }}
              </mat-cell>
            </ng-container>
            <!-- No. of strands Column -->
            <ng-container matColumnDef="type_strand">
              <mat-header-cell *matHeaderCellDef mat-sort-header="typeOfStrands">Type (by no. of strands) </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="mobile-label">Type (by strand numer)</span>
                {{ row.typeOfStrands }}
              </mat-cell>
            </ng-container>
            <!-- numberOfQuadruplex Column -->
            <ng-container matColumnDef="numberOfQuadruplexes">
              <mat-header-cell *matHeaderCellDef mat-sort-header="numberOfQuadruplexes">No. of quadruplexes </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="mobile-label">No. of quadruplexes</span>
                {{ row.numberOfQuadruplexes }}
              </mat-cell>
            </ng-container>
            <!-- Quadruplex Id Column -->
            <ng-container matColumnDef="quadruplexId">
              <mat-header-cell *matHeaderCellDef mat-sort-header="quadruplex_id">Quadruplex ID</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="mobile-label">Quadruplex ID</span>
                <a *ngFor="let t of row.quadruplexesIds; let i = index" [routerLink]="['/quadruplex', t.slice(1)]">
                  <a class="hasTooltip"
                    ><p style="font-size: 14px">{{ t }}</p>
                    <span> <img src="static/pymol/{{ row.quadruplexesPublicIds[i] }}.png" width="200" height="150" alt="" /> </span
                  ></a>
                </a>
              </mat-cell>
            </ng-container>
            <!-- No. of tetrads Column -->
            <ng-container matColumnDef="numberOfTetrads">
              <mat-header-cell *matHeaderCellDef mat-sort-header="numberOfTetrads">No. of tetrads</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="mobile-label">No. of tetrads</span>
                {{ row.numberOfTetrads }}
              </mat-cell>
            </ng-container>
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"> </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <span class="mobile-label">Select:</span>
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"> </mat-checkbox>
              </td>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </div>
        </mat-table>

        <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"> </mat-paginator>
      </div>
    </main>
  </div>
</div>
